%section.header
	.container
		.row
			.medium-2.columns
				%aside.edit-tools
					Edit tools go here
			.medium-8.columns
				%h1= FFaker::Movie.title
				%h3 
					By 
					= link_to FFaker::Name.name, '#'
			.medium-2.columns

%section.table-of-contents
	.container
		.row
			.medium-4.columns
				%aside.edit-tools
					Edit tools go here
			.medium-4.columns
				%h4 Contents
				%ol
					%li= link_to "First section name", '#'
					%li= link_to "Second section name", '#'
					%li= link_to "Third section name", '#'
			.medium-4.columns


%section.image-panel
	.container
		.row
			.medium-2.columns
				%aside.edit-tools
					Edit tools go here
			.medium-8.columns
				= image_tag 'temp-image.jpg'
			.medium-2.columns
				%cite
					%h6 Name of item
					Citation information goes here

%section.image-panel.full-width
	.image-pad
		= image_tag 'temp-image.jpg'
	%cite
		%h6 Name of item
		Citation information goes here


%section.narrative-panel
	.container
		.row
			.medium-2.columns
				%aside.edit-tools
					Edit tools go here
			.medium-8.columns
	
				%h2 Section Header

			.medium-2.columns
				

%section.image-gallery
	.container
		%ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
			- 8.times do 
				%li
					= image_tag 'temp-image.jpg'
					%cite
						%h6= FFaker::AddressAU.neighborhood
						= FFaker::Education.school



%section.narrative-panel
	.container
		.row
			.medium-2.columns
				%aside.edit-tools
					Edit tools go here
			.medium-8.columns.editable
	
				%h2 Section Header
	
				%p=raw FFaker::BaconIpsum.paragraphs(4).join('</p><p>')
			.medium-2.columns
				x



%section.add-panel 
	%h3.add-message.toggle-add-panel Add to your story...			
	.add-panel-inset
		.container
			.row
				.medium-3.columns.item-adder
					.adder-icon.add-text
						%i.fa.fa-font.fa-3x
					text
				.medium-3.columns.item-adder
					%a.adder-icon.add-dnz{ data: {'reveal-id' => 'modal-add-image'} }
						%i.fa.fa-camera-retro.fa-3x
					your own image
				.medium-3.columns.item-adder
					%a.adder-icon.add-dnz{ data: {'reveal-id' => 'modal-add-to-dnz'} }
						= image_tag 'logo-dnz-sprout.png'
					item from digitalNZ
				.medium-3.columns.item-adder
					.adder-icon.add-section
						%i.fa.fa-paragraph.fa-3x
					section
	%span.add-icon.toggle-add-panel +




#modal-add-to-dnz.reveal-modal{ 'data-reveal' => true, 'aria-labelledby' => "modalTitle", 'aria-hidden' => true,  role: 'dialog'}
	%h2 Search DigitalNZ for an item
	[search box]

	%h4 DigitalNZ suggests…
	%ul.small-block-grid-4.medium-block-grid-6.large-block-grid-8
		- 8.times do 
			%li
				= image_tag 'temp-image.jpg'
				%cite
					%h6= FFaker::AddressAU.neighborhood
	= link_to raw('&#215;'), '#', class: 'close-reveal-modal', 'aria-label' => 'Close'


#modal-add-image.reveal-modal{ 'data-reveal' => true, 'aria-labelledby' => "modalTitle", 'aria-hidden' => true,  role: 'dialog'}
	%h2 Add your own image

	= link_to raw('&#215;'), '#', class: 'close-reveal-modal', 'aria-label' => 'Close'


